@charset "utf-8";
@import "_vars.scss";

/** Utility Classes **/
.clear-fix {
    clear: both;
}

.hidden {
    display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}