<div class="panel sprites-panel">

    <h2>Sprites</h2>
    <popup-button class="help-btn" data-container-id="spritesHelp">?</popup-button>

    <div class="select" title="Spacing" 
         data-model="g.sprites.spacing" 
         data-show-mode="retina">
        
        <ul class="dropdown">
            <li data-value="0">0px</li>
            <li data-value="2">1px</li>
            <li data-value="4">2px</li>
            <li data-value="6">3px</li>
            <li data-value="8">4px</li>
            <li data-value="10">5px</li>
            <li data-value="12">6px</li>
            <li data-value="14">7px</li>
            <li data-value="16">8px</li>
            <li data-value="18">9px</li>
            <li data-value="20">10px</li>
        </ul>
    </div>
    
    <div class="select hidden" title="Spacing" 
         data-model="g.sprites.spacing" 
         data-show-mode="normal">
        
        <ul class="dropdown">
            <li data-value="0">0px</li>
            <li data-value="1">1px</li>
            <li data-value="2">2px</li>
            <li data-value="3">3px</li>
            <li data-value="4">4px</li>
            <li data-value="5">5px</li>
            <li data-value="6">6px</li>
            <li data-value="7">7px</li>
            <li data-value="8">8px</li>
            <li data-value="9">9px</li>
            <li data-value="10">10px</li>
        </ul>
    </div>
    
    <div class="select" title="Padding" 
         data-model="g.sprites.padding" 
         data-show-mode="retina">
        
        <ul class="dropdown">
            <li data-value="0">0px</li>
            <li data-value="2">1px</li>
            <li data-value="4">2px</li>
            <li data-value="6">3px</li>
            <li data-value="8">4px</li>
            <li data-value="10">5px</li>
            <li data-value="12">6px</li>
            <li data-value="14">7px</li>
            <li data-value="16">8px</li>
            <li data-value="18">9px</li>
            <li data-value="20">10px</li>
        </ul>
    </div>
    
    <div class="select" title="Padding" 
         data-model="g.sprites.padding" 
         data-show-mode="normal">
        
        <ul class="dropdown">
            <li data-value="0">0px</li>
            <li data-value="1">1px</li>
            <li data-value="2">2px</li>
            <li data-value="3">3px</li>
            <li data-value="4">4px</li>
            <li data-value="5">5px</li>
            <li data-value="6">6px</li>
            <li data-value="7">7px</li>
            <li data-value="8">8px</li>
            <li data-value="9">9px</li>
            <li data-value="10">10px</li>
        </ul>
    </div>

    <div class="select" title="Orientation" 
         data-model="g.sprites.orientation">
        
        <ul class="dropdown">
            <li data-value="vertical">
                Vertical
                <span class="icon orientation vertical">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </span>
            </li>
            <li data-value="horizontal">
                Horizontal
                <span class="icon orientation horizontal">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </span>
            </li>
            <li data-value="diagonal">
                Diagonal
                <span class="icon orientation diagonal">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </span>
            </li>
            <li data-value="packed">
                Packed
                <span class="icon orientation packed">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </span>
            </li>
        </ul>
    </div>

    <a href="#" title="Advanced Settings" 
       class="icon settings" 
       data-ng-class="{'active':g.sprites.showSettings}" 
       data-ng-click="g.sprites.showSettings=!g.sprites.showSettings"></a>

    <div class="settings-box hidden" data-ng-class="{'hidden':!g.sprites.showSettings}">
        <ul>
            <li>
                <span class="settings-input">
                    <text-box title="Icon Width" 
                              data-max-chars="3" 
                              data-type="number" 
                              data-model="g.sprites.forcedWidth" 
                              data-input-id="forcedHeight" 
                              data-on-blur="triggerSprites()"></text-box>
                </span>
                <span class="settings-descr">
                    Force the pixel width of the icons. Aspect ratio is maintained. 
                    Leave blank to use the icons actual size.
                </span>
            </li>
            <li>
                <span class="settings-input">
                    <text-box title="Icon Height" 
                              data-max-chars="3" 
                              data-type="number" 
                              data-model="g.sprites.forcedHeight" 
                              data-input-id="forcedWidth" 
                              data-on-blur="triggerSprites()"></text-box>
                </span>
                <span class="settings-descr">
                    Force the pixel height of the icons. Aspect ratio is maintained. 
                    Leave blank to use the icons actual size.
                </span>
            </li>
        </ul>
    </div>

    <!-- Sprites (NORMAL) -->
    <div class="panel-content" data-show-mode="normal">
        <div class="sprites-container">
            <div class="left">
                <ul class="sprite-details">
                    <li>
                        <span class="term">Size:</span><span class="def">
                        {{spriteData.width}}<span class="unit">px</span>
                        <span class="by">x</span> {{spriteData.height}}
                        <span class="unit">px</span>
                        </span>
                    </li>
                    <li>
                        <span class="term">Volume:</span>
                        <span class="def">{{spriteData.w * retinaSpriteData.h | number:0}}</span>
                    </li>
                    <li>
                        <span class="term">Compr:</span>
                        <span class="def">{{spriteData.compr | number:0}} <span class="unit">(estimate)</span></span>
                    </li>
                </ul>

                <drag-scroll>
                    <css-sprite data-scale="1" 
                                data-spacing="g.sprites.spacing" 
                                data-padding="g.sprites.padding"
                                data-source="g.images" 
                                data-orientation="g.sprites.orientation" 
                                data-trigger="s.normal.trigger" 
                                data-output="spriteData" 
                                data-icon-width="g.sprites.forcedWidth" 
                                data-icon-height="g.sprites.forcedHeight"
                                data-show-mode="normal"></css-sprite>
                </drag-scroll>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>

    <!-- Sprites (RETINA) -->
    <div class="panel-content" data-show-mode="retina">
        <div class="sprites-container" data-ng-class="g.sprites.orientation">

            <div class="left">
                <h3>Normal</h3>

                <ul class="sprite-details">
                    <li>
                        <span class="term">Size:</span><span class="def">
                        {{spriteData.w}}<span class="unit">px</span>
                        <span class="by">x</span> {{spriteData.h}}
                        <span class="unit">px</span>
                        </span>
                    </li>
                    <li>
                        <span class="term">Volume:</span>
                        <span class="def">{{spriteData.w * retinaSpriteData.h | number:0}}</span>
                    </li>
                    <li>
                        <span class="term">Compr:</span>
                        <span class="def">{{spriteData.compr | number:0}} <span class="unit">(estimate)</span></span>
                    </li>
                </ul>


                <drag-scroll>
                    <css-sprite data-scale="0.5" 
                                data-spacing="g.sprites.spacing" 
                                data-padding="g.sprites.padding"
                                data-source="g.images" 
                                data-item-source="normal" 
                                data-icon-width="g.sprites.forcedWidth" 
                                data-icon-height="g.sprites.forcedHeight" 
                                data-orientation="g.sprites.orientation" 
                                data-trigger="s.retina.trigger" 
                                data-output="spriteData"
                                data-show-mode="retina"
                                data-render-child></css-sprite>
                </drag-scroll>
            </div>

            <div class="center"></div>

            <div class="right">
                <h3>Retina</h3>

                <ul class="sprite-details">
                    <li>
                        <span class="term">Size:</span><span class="def">
                        {{retinaSpriteData.w}}<span class="unit">px</span>
                        <span class="by">x</span> {{retinaSpriteData.h}}
                        <span class="unit">px</span>
                        </span>
                    </li>
                    <li>
                        <span class="term">Volume:</span>
                        <span class="def">{{retinaSpriteData.w * retinaSpriteData.h | number:0}}</span>
                    </li>
                    <li>
                        <span class="term">Compr:</span>
                        <span class="def">{{retinaSpriteData.compr | number:0}} <span class="unit">(estimate)</span></span>
                    </li>
                </ul>

                <drag-scroll>
                    <css-sprite data-scale="1" 
                                data-spacing="g.sprites.spacing"
                                data-padding="g.sprites.padding"
                                data-source="g.images" 
                                data-icon-width="g.sprites.forcedWidth * 2" 
                                data-icon-height="g.sprites.forcedHeight * 2" 
                                data-orientation="g.sprites.orientation" 
                                data-trigger="s.retina.trigger" 
                                data-output="retinaSpriteData"
                                data-show-mode="retina"></css-sprite>
                </drag-scroll>
            </div>

            <div class="clear-fix"></div>
        </div>
    </div>

    <!-- Sprites Help -->
    <popup-container id="spritesHelp" class="help-container">

        <h3>Primary Controls</h3>

        <div class="help-content">
            <ul>
                <li>
                    <span class="term">Spacing</span>
                    <span class="def">
                        The number of pixels of empty space between each icon. The value applies to the 
                        normal size sprite. Retina sprite spacing is double the selected value.
                    </span>
                </li>
                <li>
                    <span class="term">Padding</span>
                    <span class="def">
                        The number of pixels of empty space around each icon. This is different from spacing
                        in that the added space is part of the icon. Retina sprite padding is double the selected value.
                    </span>
                </li>
                <li>
                    <span class="term">Orientation</span>
                    <span class="def">
                        The orientation of the sprite. 'Vertical' places sprites vertically, 'Horizontal' 
                        places them horizontally, 'Diagonal' places icons diagonally starting from the top
                        left and ending at the bottom right. 'Packed' attempts to arrange the icons in the 
                        smallest possible container.
                    </span>
                </li>
            </ul>
        </div>

        <h3>Icon Size</h3>
        <div class="help-content">
            <p>
                The 'Icon Width' and 'Icon Height' text inputs allow you to force all icons to the same 
                dimensions. Leave these blank to use the icons actual size. Both values apply to the normal 
                size sprite. The Retina sprite values are doubled.
            </p>
            <p>
                When size is forced, the icons aspect ratio is maintained. If the icon is smaller than the 
                forced size, the icon is simply centered. If the image is larger than the new size, it is 
                resized to fit the new dimensions.
            </p>
        </div>

        <h3>Sprites</h3>
        <div class="help-content">
            <p>
                The sprites generated can be downloaded by right-clicking on them and choosing to save them.
            </p>
            <p>
                Above each sprite, the size, volume and estimated compression are displayed:
                <ul>
                    <li>
                        <span class="term">Size</span>
                        <span class="def">
                            The size of the corresponding sprite in pixels (width x height).
                        </span>
                    </li>
                    <li>
                        <span class="term">Volume</span>
                        <span class="def">
                            The pixel volume of the sprite. The value is determined by multiplying width and height.
                        </span>
                    </li>
                    <li>
                        <span class="term">Compr</span>
                        <span class="def">
                            The estimated compression. This value can be used to compare 
                            different sprite orientations to see which is most likely to yield a smaller file size 
                            after compression. Smaller values are better. The value is determined by the following: 
                            <span class="math">volume * (compressedJpegSize / uncompressedJpegSize)</span>
                        </span>
                    </li>
                </ul>
            </p>
        </div>
    </popup-container>
</div>