@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Help Flyouts **/
.help-btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: #ded3cc;
    opacity: 0.6;
    @include user-select(none);
    @include transition(0.25s ease all);
    &.open {
        opacity: 0.3;
    }
}

.help-container {
    display: block;
    position: absolute;
    top: 40px;
    bottom: 5px;
    left: 1100px;
    width: 0;
    background: #bababc;
    color: #222;
    z-index: 201;
    opacity: 0;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 5px solid #0141a5;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    text-shadow: none;
    @include transition(0.35s ease all);
    @media (min-width: $screen-sm) {
        top: 50px;
        bottom: 15px;
    }
        
    &.open {
        @include transition(0.55s ease all);
        width: 100%;
        left: 0;
        opacity: 1;
    }
    h3 {
        color: #000;
        text-shadow: none;
    }
    ul {
        display: inline-table;
        &>li {
            display: table-row;
        }
        .term,
        .def {
            display: table-cell;
            padding: 5px 0 5px 0;
            line-height: 20px;
        }
        .term {
            font-weight: bold;
            padding-right: 15px;
        }
    }
    .math {
        display: block;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        line-height: 20px;
    }
    p {
        line-height: 20px;
    }
}

.help-content {
    padding-left: 10px;
}