@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Drag Drop Images **/

.image-retina-item {
    
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
    border: 1px solid #101010;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
}

.image-normal-item {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 1px solid #464646;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

ul[data-dnd-list] {
    display: block;
    min-height: 85px;
        
    .drag-container {
        display: inline-block;
        vertical-align: top;
        width: 85px;
        height: 85px;
        padding: 5px;
    }
    
    .dndPlaceholder {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #464646;
        width: 85px;
        height: 85px;
        overflow: hidden;
        margin: 0;
    }
    
    .dndDraggingSource {
        display: none;
    }
    
    & > li {
        z-index: 1;
        overflow: hidden;
        @include transition(0.25s ease all);
        &.selected {
            background: blue;
        }
    }
}

.trash-list {
    display: block;
    position: relative;
    min-height: 85px;
    background: #3f3f3f;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    
    @media (min-width: $screen-sm) {
        padding: 10px 0 10px 0;
        box-shadow: 0 1px 1px rgba(0,0,0,0.75);
        border-radius: 0;
    }
}

.image-list, .trash-list-inner {
    position: relative;
    margin: 0 5px 0 5px;
    padding: 5px 5px 45px 5px;
    border: 2px dashed #e0cbb0;
    border-radius: 10px;
    min-height: 230px;
    
    @media (min-width: $screen-sm) {
        margin: 0 10px 0 10px;
        padding: 10px;
    }
}

.trash-list-inner {
    min-height: 115px;
    border: 2px dashed #818181;
    margin: 0;
    
    @media (min-width: $screen-sm) {
        margin: 0 10px 0 10px;
    }
}

ul[data-dnd-list],
ul[data-dnd-list] > li {
    position: relative;
}