@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Jump Links **/
.jump-links {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
    
    li {
               
        background: rgba(0,0,0,0.5);
        
        a {
            display: block;
            margin-top: 5px;
            padding: 5px 15px 5px 15px; 
            color: #cbbaaf;
        }
    }
}