@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Panels **/
.panel {
    display: block;
    position: relative;
    background: #535353;
    margin: 2px 20px 2px 20px;
    padding: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #6a6a6a;
    border-bottom: 1px solid #282828;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    overflow: hidden;
    
    .panel-content {
        padding: 5px;
    }
    p {
        text-align: justify;
    }
    .half-box {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
        float: left;
        p {
            line-height: 22px;
        }
    }
    .full-box {
        display: block;
        clear: both;
        padding-top: 20px;
        line-height: 22px;
    }
}