@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Sprite Preview **/
sprite-preview {
    iframe {
        width: 100%;
        height: 100%;
        background: #808080;
    }
}