@charset "utf-8";
@import "../_vars.scss";
@import "../_mixins.scss";

/** Advanced Settings **/
.settings-box {
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding-bottom: 20px;
    @include transition(0.2s all linear);

    &.open {
      padding-top: 10px;
      height: auto;
      opacity: 1;
    }
    
    ul {
        display: table;
    }
    
    li {
        display: table-row;
    }
    
    .settings-input, .settings-descr {
        display: table-cell;
        vertical-align: middle;
    }
    
    .settings-descr {
        padding-left: 5px;
    }
    
    @media (min-width: $screen-sm) {
        padding-top: 0;
    }
}

